/* RESET */
*{
    box-sizing: border-box;
}
body{
    margin:0;
    color: #777;
    font: 300 15px/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    font-weight: normal;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
}
a:hover{
    color: #000;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
textarea{
    resize: vertical;
}
/* RESET END */

/* Standart classes start */
.bg-black{
    background-color: #111;
}
.bg-grey{
    background-color: #f8f8f8;
}
.text-white{
    color: #fff !important;
}
/* Standart classes end */

/* Standart component */
.default-section{
    padding: 140px 0;
}
.default-section.small{
    padding: 70px 0;
}
.title{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-bottom: 75px;
    color: #111;
}
.title > *{
    font-size: 18px;
}
.title.light{
    font-weight: 300;
    letter-spacing: 0.3em;
    color: #fff;
}
.title.less-margin{
    margin-bottom: 20px;
}

.default-text{
    font-size: 15px;
    line-height: 1.733;
}
blockquote{
    padding: 0;
    margin: 0;
    border: none;
    font-size: 24px;
    line-height: 1.6;
}
blockquote span{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.btn{
    display: inline-block;
    padding: 16px 43px;
    font-size: 14px;
}
footer{
    padding: 140px 0 50px 0;
}
@media (max-width: 767px){
    .default-section{
        padding: 80px 0;
    }
    .default-section.small{
        padding: 30px 0;
    }
}
/* tabs */
.nav-tabs{
    border: none;
}
.nav-tabs > li{
    margin-bottom: 0;
}
.nav-tabs > li > a{
    padding: 0;
    margin-right: 0;
    border: none;
    color: rgba(17, 17, 17, 0.5);
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    letter-spacing: .4em;
    text-transform: uppercase;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, 
.nav-tabs > li.active > a:hover{
    border: 0;
    background-color: transparent;
    color: #111;
}
.nav-tabs > li > a:hover{
    background-color: transparent;
    color: #111;
}
/* tabs end */

/* Rhomb icon */
.rhomb-icon{
    display: inline-block;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    border-radius: 2px;
    font-size: 14px;
    transform: rotate(45deg);
}
.rhomb-icon > *{
    transform: rotate(-45deg);
}
.rhomb-icon.black-icon{
    background-color: #111;
    color: #fff;
}
.rhomb-icon.white-icon{
    background-color: #fff;
    color: #111;
}
.rhomb-icon.transparent-icon{
    color: #111;
    border: 1px solid rgba(0, 0, 0, .7);
}
.rhomb-icon.large-icon{
    height: 27px;
    width: 27px;
    line-height: 27px;
}
/* Rhomb icon end */
/* Standart component end */
.header{
    position: absolute;
    padding: 27px 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}
.logo{
    float: left;
}
.header-nav{
    float: right;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}
.header-nav:hover{
    color: rgba(255, 255, 255, 0.75);
}
.header-nav a + a{
    margin-left: 35px;
}
.header .navbar-toggle{
    padding: 0;
    margin: 0;
    border: none;
}
.header .navbar-toggle .icon-bar{
    background-color: #fff;
}
@media (max-width: 769px){
    #header-nav{
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #000000;
        z-index: 99;
    }
    .header-nav a{
        display: block;
    }
    .header-nav{
        width: 100%;
        text-align: right;
        padding: 15px 0;
    }
}

.inner{
    height: 100vh;
    background: url("../img/main.jpg") no-repeat center / cover;
    text-align: center;
    position: relative;
}
.inner::before{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.inner-content{
    display: inline-block;
    vertical-align: middle;    
}
.inner-content h1{
    font-size: 30px;
    letter-spacing: 1.7em;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'dosis';
    margin-bottom: 100px;
}
.inner-content span{
    font-size: 19px;
    color: rgba(255, 255, 255, 0.68);
}

@media (max-width: 1199px){
    .inner-content h1{
        margin-bottom: 50px;
    }
}
@media (max-width: 991px){
    .inner-content h1{
        letter-spacing: 0.7em;
    }
    blockquote{
        font-size: 20px;
    }
    .team-item 
}

.start-project .btn .btn-default{
    color: #111;
    letter-spacing: 0.2em;
}
.start-project .btn .btn-default:hover{
    background-color: #c0b7e7;
}
.start-project .title {
    margin-bottom: 25px;
}
/* form */
.form-control{
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    height: 36px;
    padding: 6px 13px;
    font-size: 12px;
    letter-spacing: .2em;
    color: #555;
    box-shadow: none;
    text-transform: uppercase;
}
.form-control:focus{
    box-shadow: none;
    border-color: #999797;
}
textarea.form-control{
    min-height: 82px;
}
.form-submit .requiret-info{
    margin-top: 15px;
}
.form-submit .requiret-info:hover{
    color: #777777;
}
/* form end */

/* custom style */
.about-studio .about-studio-text{
    margin-bottom: 100px;
}
.about-studio .team-item .team-item-img{
    margin-bottom: 27px;
    position: relative;
}
.about-studio .team-item .team-item-img .team-item-skills{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #131313;
    transition: all .3s linear;
    transform: scale(.8);
    padding: 40px;
}
.about-studio .team-item .team-item-img .team-item-skills:hover{
    opacity: 1;
    transform: scale(1);
}
.about-studio .team-item-info{
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    letter-spacing: .4em;
}
.about-studio .team-item-info span{
    display: block;
}
.about-studio .team-item-info .team-item-row{
    font-size: 12px;
    margin-top: 12px;
}
.about-studio .team-item-img img{
    filter: grayscale(100%);
}
.about-studio .team-item-img img:hover{
    filter: grayscale(0);
}
.about-studio .team-item-img .team-item-skills .title{
    margin-bottom: 25px;
}
.about-studio .team-item-img .team-item-skills p{
    font-size: 13px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 40px;
}
.about-studio .team-item-img .team-item-skills .progress-bar{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.75);
}
.about-studio .team-item-img .team-item-skills .progress{
    background-color: rgba(255, 255, 255, 0.15);
    height: 12px;
    border-radius: 0;
    margin-bottom: 0;
}
.about-studio .team-item-img .team-item-skills .progress-wrap span{
    display: block;
    font-size: 11px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 5px;
}
.about-studio .team-item-img .team-item-skills .progress-wrap + .progress-wrap{
    margin-top: 20px;
}

@media (max-width: 1199px){
    .about-studio .team-item .team-item-img .team-item-skills{
        padding: 10px;
    }
    .about-studio .team-item .team-item-img .team-item-skills p{
        margin-bottom: 10px;
    }
}
@media (max-width: 991px){
    .about-studio .team-item .team-item-img .team-item-skills{
        padding: 5px;
    }
    .about-studio .team-item .team-item-img .team-item-skills p{
        margin-bottom: 5px;
        font-size: 10px;
    }
    .about-studio .team-item-img .team-item-skills .title {
        margin-bottom: 5px;
    }
    .about-studio .team-item-img .team-item-skills .progress-wrap + .progress-wrap {
        margin-top: 5px;
    }
}
@media (max-width: 767px){
    blockquote {
        font-size: 15px;
    }
    .default-text {
        font-size: 12px;
    }
    .about-studio .team-item-info span {
        font-size: 10px;
    }
    .about-studio .team-item-info .team-item-row {
        font-size: 10px;
}
/* custom style end */

/* news */
.news .team-item-img img{
    filter: grayscale(100%);
    width: 100%;
}
.news .team-item-img img:hover{
    filter: grayscale(0);        
}
.news a{
    font-size: 11px;
    float: right;
    line-height: 2.4em;
}
.news a:hover{
    color: #777;
}
.news span.title{
    font-size: 15px;
    letter-spacing: .2em;
}
.news span.title-small{
    display: block;
    line-height: 26px;
    font-size: 11px;
}
.news .btn{
    padding: 10px 15px;
    font-size: 11px;
    letter-spacing: .2em;
}
.news .btn.btn-default{
    color: #777;
    background-color: #e5e5e5;
    margin: 26px 0;
    display: inline-block;
    text-transform: uppercase;
}
.news p{
    font-size: 15px;
    line-height: 26px;
}

/* news end*/

/* subscribe */
.subscribe .btn{
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .2em;
    line-height: 1;
}
.subscribe .btn-dark{
    padding: 
}
.subscribe input{
    width: 25%;
    margin-bottom: 15px;
    display: inline-block;
    height: 40px;
    font-size: 15px;
    padding
}
/* subscribe end */

/* Services */
.services-tab .nav-tabs > li {
    width: 20%;
    text-align: center;
    font-size: 14px;
}
.services-tab .nav-tabs > li .icon{
    font-size: 48px;
    margin-bottom: 38px;
}
.services-tab .nav-tabs > li a span:not(.icon){
    display: block;
}
.services-tab .tab-content{
    margin-top: 70px;
}
@media (max-width: 991px){
.services-tab .nav-tabs > li {
    width: 50%;
    margin-bottom: 25px;
    }
    .services-tab .nav-tabs > li:last-child{
        width: 100%;
    }
} 
@media (max-width: 767px){
.services-tab .nav-tabs > li .icon {
    font-size: 40px;
    margin-bottom: 38px;
    }
}      
/* Services end */
/* portfolio */

.portfolio .title{
    font-size: 18px;
    letter-spacing: .5em;
}
.portfolio p{
    font-size: 15px;
    margin: auto;

}
.portfolio-item{
    width: 33.3%;
    float: left;
}
.portfolio-item img{
    width: 100%;
    filter: grayscale(100%);
}
.portfolio-item img:hover{
    filter: grayscale(0);
}
.portfolio-tab{
    font-family: 'Dosis', sans-serif;
    font-size: 13px;
    letter-spacing: .4em;
    text-transform: uppercase;
    margin-top: 80px;
    overflow: hidden;
}
.portfolio-tab .nav-tabs > li  a{
    text-align: center;
    font-size: 13px;
}
.portfolio-tab .nav-tabs{
    text-align: center;
    margin-bottom: 50px;
}
.portfolio-tab .nav-tabs > li{
    float: none;
    display: inline-block;
}
.portfolio-tab .nav-tabs > li + li{
    margin-left: 65px;

}
@media (max-width: 1199px){
    .portfolio-item{
        width: 50%;
    }
}
/* portfolio end */
/*choose*/
.choose-tab .icon{
    font-size: 50px;
    padding: 35px 0;
    overflow: hidden;
    display: block;
}
.choose-tab .icon:hover{
    color: #111;
}
.choose-tab p{
    font-size: 14px;
}
.why-choose-us .row > div:last-child .feature{
    margin-bottom: 0;
}
/*choose end*/

/* carousel */
.reviews .carousel{
    padding: 140px 0;
    overflow: hidden; 
}
.reviews .carousel .icon{
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
}
.reviews .carousel .title{
    margin-bottom: 35px;
}
.reviews .carousel p{
    font-size: 18px;
    color: rgba(255, 255, 255, .75);
    max-width: 750px;
    margin: 0 auto 20px auto;
    line-height: 1.7;
}
.reviews .carousel .author{
    color: rgba(255, 255, 255, 0.3);
    font-size: 11px;
    letter-spacing: .2em;
    text-transform: uppercase;
}
.reviews .carousel-indicators li{
    width: 7px;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-clip: content-box;
}
.reviews .carousel-indicators .active{
    width: 9px;
    height: 9px;
    background-color: transparent;
}
.reviews .carousel-control{
    width: 85px;
    height: 85px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    bottom: auto;
    background-image: none;
    opacity: 1;
    text-shadow: none;
    color: #222222;
    margin-left: -44px;
}
.reviews .carousel-control.right{
    margin-left: 0;
    margin-right: -44px;
}
.reviews .carousel-control .fa{
    position: absolute;
    transform: rotate(-45deg);
}
.reviews .carousel-control.left .fa{
    right: 18px;
    top: 9px;
}
.reviews .carousel-control.right .fa{
    left: 18px;
    bottom: 9px;
}
/* carousel end */
/* Lets talk */
.lets-talk-content{
    padding: 140px 0;
}
.lets-talk-content p{
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
}
.lets-talk-img{
    margin-top: -32px;
}

/* lets talk end */
/* Contact us */
.contact-item .contact-item-icon,
.contact-item .contact-item-content{
    display: inline-block;
    vertical-align: middle;
}
.contact-item .contact-item-content{
    margin-left: 15px;
}
.contact-item .contact-item-content span{
    display: block;
}
.contact-item .contact-item-content .contact-title{
    font-size: 12px;
    color: #777;
    letter-spacing: .3em;
    margin-bottom: 10px;
}
.contact-item .contact-item-content .contact-data{
    font-size: 15px;
    color: #444;
}
.contact-us .contact-form{
    margin-top: 80px;
}
.contact-us .contact-form .form-col{
    width: 50%;
    padding: 0 5px;
    float: left;
}
.contact-us .contact-form .form-row{
    margin: 0 -5px;
    overflow: hidden;
}
.contact-us .contact-form .form-row .form-control + .form-control{
    margin-top: 10px;
}
/* Contact us end */
/* Map */
.map{
    position: relative;
    overflow: hidden;
}
.map iframe{
    width: 100%;
    height: 410px;
}
.map .on-map-block{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    transition: all .3s linear;
}
.map:hover .on-map-block{
    opacity: 0;
    transform: translateY(100%);
}
.map .on-map-block .on-map-block-content span{
    display: block;
    color: rgba(255, 255, 255, .75);
}
.on-map-block .on-map-block-content-title{
    margin: 28px;
}
.on-map-block::before{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-left: -4px;
}
.on-map-block-content{
    display: inline-block;
    vertical-align: middle;
}
.on-map-block .on-map-block-content-title.title{
    font-size: 16px;
    margin-bottom: 0;
    letter-spacing: .3em;
}
/* Map end */
/* footer */
footer .footer-item-icon{
    border: 1px solid #000;
    margin-left: 25px;
}
footer .footer-img{
    display: block;
    margin-bottom: 25px;
}
footer p{
    display: block;
    margin-top: 20px;
}
/* footer end */